 @font-face { font-family: UberMoveBold; src: url('fonts/UberMoveBold.otf'); } 
 @font-face { font-family: UberMoveMedium; src: url('fonts/UberMoveMedium.otf'); } 
 @font-face { font-family: UberMoveTextBold; src: url('fonts/UberMoveTextBold.otf'); } 
 @font-face { font-family: UberMoveTextLight; src: url('fonts/UberMoveTextLight.otf'); } 
 @font-face { font-family: UberMoveTextMedium; src: url('fonts/UberMoveTextMedium.otf'); } 
 @font-face { font-family: UberMoveTextRegular; src: url('fonts/UberMoveTextRegular.otf'); } 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background {
    background: linear-gradient(to bottom, #0d0d0d 0%, #1d1d1d 100%);
    width: 100%;
    height: 5000px;
}

.white-bg {
    background: #f2f2f2;
    height: 3000px;
}

.intro-text {
    font-family: UberMoveMedium, sans-serif;
    font-size: 250px;
    color: #ffffff;
    /*padding: 15px 0px 0px 35px;*/
    margin: 0px 0px 0px 240px;
    padding-top: 75px;
}

.intro-text-second {
    font-family: UberMoveMedium, sans-serif;
    font-size: 250px;
    color: #ffffff;
    /*padding: 15px 0px 0px 35px;*/
    margin: -50px 0px 0px 240px;
}

.intro-text-third {
    font-family: UberMoveMedium, sans-serif;
    font-size: 250px;
    color: #ffffff;
    /*padding: 15px 0px 0px 35px;*/
    margin: -50px 0px 0px 240px;
    padding-bottom: 180px;
}

.bubble {
    position: absolute;
    padding: 175px 0px 0px 950px;
}

.insta {
    position: absolute;
    padding: 370px 0px 0px 120px;
}

.facebook {
    position: absolute;
    padding: 435px 0px 0px 123px;
}

.twitter {
    position: absolute;
    padding: 500px 0px 0px 120px;
}

.linkedIn {
    position: absolute;
    padding: 565px 0px 0px 120px;
}

.scroll-text {
    position: absolute;
    padding-left: 1800px;
    padding-top: 750px;
}



































.center {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
}

.Soul:hover {
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(100px);
}

.WorldEngine:hover {
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(100px);
}

.DetectiveShurmen:hover {
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(100px);
}

.cardOne {
    margin-left: 100px;
}

.card {
    position: relative;
    overflow: hidden;
    width: 23%;
    height: 480px;
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #54554f, #252322);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    color: white;
}

.shoe-container {
    height: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoe {
    height: auto;
    max-width: 100%;
    transform: translate(50px);
    max-height: 145px;
    width: 240px;
    position: relative;
    top: 0;
    left: 0;
}

.category {
    transform: translate(30px);
    font-weight: bolder;
    font-size: 24px;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    align-self: start;
}

.category .subhead {
    font-size: 12px;
    color: rgba(222, 227, 228, 0.35);
    margin-bottom: 2px;
}

.description {
    transform: translateZ(25px);
    text-align: justify;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

body a {
    text-decoration: none;
    border: 0;
    outline: 0;
}

.read-more {
    text-decoration: none;
    border: 0;
    outline: 0;
    height: 40px;
    padding: 10px 25px;
    border-radius: 50px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
    transform: translateZ(30px);
    font-size: 16px;
    font-weight: medium;
}

.read-more:hover {
    cursor: pointer;
}

.card:hover {
    transform: translateY(0px);
    opacity: 1;
}

body .js-tilt-glare {
    pointer-events: none;
}

.Soul {
    padding-top: 0px;
}

.WorldEngine {
    margin-left: -15%;
    padding-top: 275%;
}

.DetectiveShurmen {
    margin-top: -15%;
    margin-left: -100px;
}







.PHP-Explanation {
    font-family: UberMoveMedium, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
}